@charset "UTF-8";

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px !important;
}
.menu_principal{
    width: 100%;
    background-color: #6ab04c;
    height: 110px;
}
main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.imagem_logo{
    max-width: 150px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -10px;
}
.logo{
    float: left;
    padding: 15px;
    width: 90%;
}
.redes_sociais, ul, li{
    margin-left: 10px;
    position: center;
    float: right;
    list-style: none;
}
.header_2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 18px;
   
}

.menu ul li{
    color: black;
    margin-left: 25px;
    height: 40px;

}
.menu ul li:hover{
    border-bottom: 4px solid #6ab04c;
    height: 35px;
}
.menu ul li a:hover{
    color: #6ab04c;
    
}
.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu_url{
    height: 80px;
    border-bottom: 3px solid black ;
}
.menu{
    width: 70%;
    float: left;

}
.busca{
    width: 18%;
    float: right;
    padding: 0px;
    text-align: center;
}

.busca input{
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    margin-top: -4px;
    height: 15px;
    margin-left: 1px;
    padding: 5px;
    width: 150px;
    background-position: 94%;
    border: 1px solid #ced6e0;
}

.tela100{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta1.png);
    position: absolute;
    z-index: 9;
    top: 38%;
    left: 2%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta.png);
    position: absolute;
    z-index: 9;
    top: 38%;
    right: 2%;
}

.slider1{
    width: 100%;
    overflow-x: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 4px solid white;
    width: 22px;
    height: 21px;
    background: transparent;
    border-radius: 50%;

}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 4%;
    top: 91%;
   
   
}

.slick-dots li{
    display: inline-block;
    padding-left: 5px;
}

li.slick-active button {
    background: #6ab04c;

}



.slick-list{
    width: 100% !important;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h4{
    color: black;
    font-size: 25px;

}

.texto-destaque h1{
    font-size: 40px;
}

.texto-destaque strong{
    color: #6ab04c;
}

.texto-destaque p{
    font-size: 20px;
}

.icon3{
    padding-left: 17px;
    padding-right: 17px;
    width: 29%;
    float: left;
    position: relative;
}

.texto-block{
margin-top: 2em;
float: left;

}

.icon3 h2{
    color: #6ab04c;
}

.senac{
    float: center;
    width: 100%;
    text-align: left;
    line-height: 2em;
}

.senac img{
    margin: 0 auto;
}

.senac{
    clear: both;
    border-top: 2px solid black;
    background: transparent;
}

.senac p {
    text-align: right;
    float: right;
    margin: 93px auto;
}



.texto-destaque img{
    width: 49em;
    float: left;
}